.place-holders {
  animation:fade-img-in 0.8s;
  margin-top: 20px;
  height: 700px;
}

@keyframes fade-img-in {
  from {
    opacity:0
  } to {
    opacity:1
  }
}

@media only screen and (max-width: 900px) {
  .place-holders {
  width: 80%;
  height: initial;
  /* position: relative */
  }
}

  /* .w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}} */
